@font-face {
  font-family: 'Lora';
  src: url('../../fonts/Lora-Regular.woff2') format('woff2'),
  url('../../fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noah';
  src: url('../../fonts/Noah-Regular.woff2') format('woff2'),
  url('../../fonts/Noah-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

