@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/media' as m;
@use '../../../../scss/mixins/headings' as h;
@use '../../../../scss/mixins/text' as t;

.image-text {
  width: 100%;
  padding: 60px 0;

  &.reverse {
    .image-text-wrapper {
      @include m.media(xl) {
        flex-direction: row-reverse;
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 42px;

    @include m.media(xl) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &-img {
    width: 100%;

    @include m.media(xl) {
      width: calc(50% - 21px);
      max-width: 619px;
    }
  }

  &-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    @include m.media(xl) {
      width: calc(50% - 21px);
    }

    h2 {
      color: v.$white;
      text-transform: uppercase;
      @include h.h1();
    }

    p {
      color: v.$main-text;
      text-align: center;
      font-family: v.$ff;
      font-size: 14px;
      font-weight: v.$fw-regular;
      line-height: 145%;

      @include m.media(md) {
        font-size: 16px;
      }

      @include m.media(xl) {
        font-size: 20px;
      }
    }
  }
}