<section class="slider">
    <div class="container">
        <div class="swiper swiper-img">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="@@src" width="909" height="500" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="@@src" width="909" height="500" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="@@src" width="909" height="500" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-actions">
            <div class="swiper-prev">
                <img src="/img/arr.svg" width="86" height="44" alt="">
            </div>
            <div class="swiper-next">
                <img src="/img/arr.svg" width="86" height="44" alt="">
            </div>
        </div>
    </div>
</section>