@use '../../../../../scss/vars/vars' as v;
@use '../../../../../scss/mixins/media' as m;

.hero-a {
  width: 100%;
  min-height: 680px;
  padding: 90px 0 208px;
  position: relative;
  overflow: hidden;

  @include m.media(md) {
    min-height: 900px;
    padding: 111px 0 284px;
  }

  @include m.media(xl) {
    min-height: 960px;
    padding: 144px 0 185px;
  }

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include m.media(md) {}

    @include m.media(xl) {}
  }

  &-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 14px;

    @include m.media(md) {
      gap: 24px;
    }

    @include m.media(xl) {
      gap: 60px;
    }

    h1 {
      color: v.$white;
      font-family: v.$ff-title;
      font-size: 22px;
      font-weight: v.$fw-regular;
      line-height: 130%;
      text-transform: uppercase;

      @include m.media(md) {
        font-size: 40px;
      }

      @include m.media(xl) {
        font-size: 64px;
      }
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    @include m.media(xl) {
      width: 50%;
      margin-left: auto;
    }

    p {
      color: v.$main-text;
      font-family: v.$ff;
      font-size: 18px;
      font-weight: v.$fw-regular;
      line-height: 140%;
      max-width: 313px;

      @include m.media(md) {
        max-width: 357px;
        font-size: 20px;
      }

      @include m.media(xl) {
        max-width: 438px;
        font-size: 24px;
      }
    }
  }
}