@use '../vars/vars' as v;
@use '../mixins/media' as m;
@use '../mixins/global' as g;
@use '../utils/placeholders/buttons/button' as *;

.button {
  @extend %button;
  font-family: v.$ff;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: v.$fw-regular;
  line-height: 145%;

  @include m.media(md) {
    font-size: 20px;
  }

  &.white {
    min-width: 120px;
    background-color: v.$white;
    color: v.$background;

    @include m.media(sm) {
      min-width: 180px;
    }

    @include g.hover() {
      opacity: v.$op;
    }
  }

  &.z {
    position: relative;
    z-index: 100;
  }

  &.transparent {
    min-width: 140px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.50);
    color: v.$white;

    @include m.media(sm) {
      min-width: 195px;
    }

    @include g.hover() {
      background-color: v.$white;
      color: v.$background;
    }

    &.ico {
      .sq {
        display: block;
        width: 7px;
        height: 7px;
        background-color: v.$white;
        transform: rotate(45deg);
        margin-right: 10px;
        transition: background-color ease v.$tr;
      }

      @include g.hover() {
        .sq {
          background-color: v.$background;
        }
      }
    }
  }
}