@use '../vars/vars' as v;
@use '../mixins/media' as m;

.lines-box {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1359px;
  margin: 0 auto;
  z-index: -1;

  &.overflow {
    overflow: hidden;
  }

  &.lines-cinema {
    .circle1, .circle2, .circle3 {
      display: block;
      position: absolute;
      border: 1px solid v.$el;
      border-radius: 50%;
    }

    .circle1 {
      width: 1359px;
      height: 1359px;
      position: absolute;
      left: 50%;
      top: 36%;
      transform: translateX(-50%);

      @include m.media(md) {
        width: 1359px;
        height: 1359px;
        top: 27%;
      }

      @include m.media(xl) {
        width: 1359px;
        height: 1359px;
        top: 27%;
      }

      .line {
        position: absolute;
        left: 50%;
        top: -100%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: v.$el;
      }
    }

    .circle2, .circle3 {
      width: 1448px;
      height: 1448px;

      @include m.media(xl) {
        width: 1738px;
        height: 1738px;
      }
    }

    .circle2 {
      top: -5%;
      right: 50%;

      @include m.media(md) {
        top: 20%;
      }

      @include m.media(xl) {
        top: 11%;
      }
    }

    .circle3 {
      top: -5%;
      left: 50%;

      @include m.media(md) {
        top: 20%;
      }

      @include m.media(xl) {
        top: 11%;
      }
    }
  }

  &.lines-private {
    .lines-group {
      position: absolute;
      width: 100%;
      height: 520px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-top: 1px solid v.$el;
      border-bottom: 1px solid v.$el;

      @include m.media(md) {
        height: 720px;
      }

      @include m.media(xl) {
        height: 760px;
      }

      .line-v, .line-h {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 200%;
        background-color: v.$el;
      }

      .line-h {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      .square1,  .square2 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: 1px solid v.$el;
      }

      .square1 {
        width: 367px;
        height: 367px;

        @include m.media(md) {
          width: 510px;
          height: 510px;
        }

        @include m.media(xl) {
          width: 537px;
          height: 537px;
        }
      }

      .square2 {
        width: 271px;
        height: 271px;

        @include m.media(md) {
          width: 354px;
          height: 354px;
        }

        @include m.media(xl) {
          width: 381px;
          height: 381px;
        }
      }
    }
  }

  &.lines-kitchen {
    .square-main, .square1, .square2 {
      position: absolute;

      border: 1px solid v.$el;
    }

    .square-main {
      top: 40%;
      width: 800px;
      height: 800px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);

      @include m.media(md) {
        width: 1400px;
        height: 1400px;
      }

      .square1 {
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;

        @include m.media(md) {
          width: 700px;
          height: 700px;
        }
      }

      .square2 {
        left: 0;
        top: 0;
        width: 400px;
        height: 400px;

        @include m.media(md) {
          width: 500px;
          height: 500px;
        }
      }
    }

    .line1, .line2, .line3, .line4, .line5 {
      position: absolute;
      display: none;
      width: 1px;
      background-color: v.$el;

      @include m.media(xxl) {
        display: block;
      }
    }

    .line1 {
      position: absolute;
      top: 801px;
      left: 50%;
      height: 500px;
    }

    .line2 {
      position: absolute;
      top: 0;
      right: 165px;
      transform: rotate(45deg);
      height: 60%;
    }

    .line3 {
      position: absolute;
      left: 0;
      top: 123px;
      transform: rotate(-90deg);
      height: 654px;
    }

    .line4 {
      position: absolute;
      left: 0;
      top: -224px;
      transform: rotate(-90deg);
      height: 1000px;
    }

    .line5 {
      position: absolute;
      left: 300px;
      top: 0;
      height: 275px;
    }
  }

  &.lines-cigars {
    .square, .square-l, .square-r, .line {
      position: absolute;
    }

    .square {
      width: 340px;
      height: 340px;
      left: 50%;
      top: 50%;
      border: 1px solid v.$el;
      transform: translate(-50%, -50%) rotate(45deg);

      @include m.media(md) {
        width: 540px;
        height: 540px;
      }
    }

    .square-l, .square-r {
      width: 50%;
      height: 50%;
      border: 1px solid v.$el;

    }

    .square-l {
      border-top-right-radius: 100px;
      border-left: 0;
      border-bottom: 0;
      bottom: 0;
      left: 0;
    }

    .square-r {
      border-bottom-left-radius: 100px;
      border-right: 0;
      border-top: 0;
      top: 0;
      right: 0;
    }

    .line {}
  }
}