<section class="slider-items">
    <div class="container">
        @@include('../../components/lines-s/lines-s.html')
        <div class="slider-items-wrapper">
            <div class="swiper swiper-f">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-top">
                                <h2>
                                    Доминиканская <br> республика
                                </h2>
                            </div>
                            <div class="slide-bottom">
                                <p>
                                    Доминиканские сигары — это эталон качества и престижа,
                                    с мягким ароматом и безупречным мастерством, созданные для истинных ценителей
                                </p>
                                <img class="slide-img" src="/img/c1.png" alt="">
                                <div class="slide-right">
                                    <button class="button transparent mod-s">Смотреть производителей</button>
                                    <span>Производители:</span>
                                    <ul>
                                        <li>Arturo Fuente</li>
                                        <li>AVO</li>
                                        <li>Gurkha</li>
                                        <li>Ashton</li>
                                        <li>Enclave</li>
                                        <li>Davidoff</li>
                                        <li>Zino</li>
                                        <li>La Aurora</li>
                                        <li>Cuesta Rey</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-top">
                                <h2>Никарагуа</h2>
                            </div>
                            <div class="slide-bottom">
                                <p>
                                    Никарагуанские сигары — это мощный вкус и глубокий аромат, сочетающие высокое
                                    качество табака и искусное исполнение, для ценителей ярких и насыщенных впечатлений
                                </p>
                                <img class="slide-img" src="/img/c2.png" alt="">
                                <div class="slide-right">
                                    <button class="button transparent mod-s">Смотреть производителей</button>
                                    <span>Производители:</span>
                                    <ul>
                                        <li>Oliva</li>
                                        <li>Perdomo</li>
                                        <li>Padron</li>
                                        <li>Furia</li>
                                        <li>Rocky Patel</li>
                                        <li>Nicarao</li>
                                        <li>Plasencia</li>
                                        <li>My Father</li>
                                        <li>Perla Del Mar</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-top">
                                <h2>Куба</h2>
                            </div>
                            <div class="slide-bottom">
                                <p>
                                    Кубинские сигары — легенда качества и мастерства,
                                    с богатым вкусом и глубоким ароматом, признанные символом роскоши для истинных
                                    ценителей
                                </p>
                                <img class="slide-img" src="/img/c3.png" alt="">
                                <div class="slide-right">
                                    <button class="button transparent mod-s">Смотреть производителей</button>
                                    <span>Производители:</span>
                                    <ul>
                                        <li>Cohiba</li>
                                        <li>Partrgas</li>
                                        <li>Montecristo</li>
                                        <li>Hoyo de monterrey</li>
                                        <li>Romeo y Julieta</li>
                                        <li>Trinidad</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-actions">
                    <div class="swiper-prev">
                        <img src="/img/arr.svg" width="86" height="44" alt="">
                    </div>
                    <div class="swiper-next">
                        <img src="/img/arr.svg" width="86" height="44" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>